<h1>Welcome to the shoe store app</h1>

<div class="home-container">

<h3>Visit either the Store or shoe Brands page to continue.</h3>
<br>
<br>
<a href="/stores">Stores</a>
<br>
<a href="/brands">Brands of Shoes</a>

</div>
