<h1><a href="/">Store</a></h1>
<form action="/stores/" method="post">
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add store</button>
</form>
<h4>
  <% @stores.order("name ASC").each do |store| %>
    <a href="/stores/<%= store.id %>"><%= store.name %><br></a>
  <% end %>
</h4>

<a href="/">Back</a>
<br>
<a href="/brands">Brands List</a>
